/* CSS STYLESHEET START */

.hidden {
	display: none;
}

#wrapper {
	width: 1200px;
	margin: 0 auto;
}

#robotBG {
	width: 1058px;
	height: 1135px;
	margin: 0px auto;
	background-image: url(../images/robot.svg);
}